{% extends "padre.html" %}

{% load static %}

    {% block contenidotitulo %}
    
        <title>Nosotros</title>

    {% endblock %}

    {% block contenidosubtitulo %}
    <h1 class="masthead-heading text-uppercase mb-0">Nosotros:</h1>
    {% endblock %}

    {% block contenido %}

        <p><h2> El motivo de la creacion de esta Pagina fue para poder dar los mejores restaurantes, ciudades y comidas que una persona pueda probar o visitar.</h2></p>
        <br>
        <p>Los creadores de esta pagina son: 
            <br>Daniel Patolsky: Se encargo del Crud de Comidas
            <br>Javier Kaprielian: Se encargo del Crud de Restaurantes
            <br>Daniel Nadal: Se encargo del Login
            <h4>En si todos los integrantes participaron en toda la creacion ya que ibamos realizando el proyecto por Discord compartiendo pantalla asi facilitamos la realizacion de la pagina web</h4>
        </p>

    {% endblock %}