{% extends "padre.html" %}

{% load static %}

    {% block contenidotitulo %}
    
        <title>INICIO</title>

    {% endblock %}

    {% block contenidosubtitulo %}
    <h1 class="masthead-heading text-uppercase mb-0">Enterate todo sobre:</h1>
    {% endblock %}

    {% block contenido %}

        <h3>{{ mensaje }}</h3>
        {% if not request.user.is_authenticated %}
        <p>Recordatorio: Para poder agregar informacion debes Logearte!</p>
        <p>Si aun no tienes un Usuario puedes registrarte en el boton de abajo!</p>
        <button>
        <a href="{% url 'Register' %}">Registrarse</a>
        
        </button>
        {% endif %}
    {% endblock %}