{% extends "padre.html" %}

{% load static %}

    {% block contenidotitulo %}
    
        <title>Este es el inicio</title>

    {% endblock %}

    {% block contenidosubtitulo %}
    <h1 class="masthead-heading text-uppercase mb-0">Restaurantes Listas</h1>
    {% endblock %}

    {% block contenido %}

        {% for j in object_list %}
            
        <li>Pais: {{j.pais}} 
            
        </li>
        <button>
            <a href="{% url 'ResDetail' j.id %}">Ver mas</a>
        </button>
            <a href="{% url 'ResEdit' j.id %}">Editar</a>
        </button>
            <a href="{% url 'ResEliminar' j.id %}">Eliminar</a>
        </button>

        {% endfor %}

        <a href="{% url 'ResNew' %}">Agregar nuevo restaurante</a>

    {% endblock %}